/**
 * based on a cleanstickyfooter.css
 * Adapted from http://code.google.com/p/cleanstickyfooter/
 *
 * Note: For a footer of height X, the wrapper values must be equal to X+1
 * to account for the 1px border on the footer.
 */

html, body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
}

div.wrapper {
   width: 100%;
   min-height: 100%;
   height: auto !important;
   height: 100%;
   margin: 0px 0px -122px 0px;
}

footer.base {
   width: 100%;
   height: 121px;
   border-top: 1px solid #e5e5e5;
}

div.inner-wrapper {
  padding: 0px 35px 122px;
  max-width: 812px;
}

div.content {
  padding-bottom: 30px;
}
